################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/EventServiceApi.slnx/DesignTimeBuild
/.vs/EventServiceApi.slnx/FileContentIndex
/.vs
/EventServiceApi.Tests/bin/Debug/net10.0
/EventServiceApi.Tests/obj
