################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventServiceApi/.vs
/EventServiceApi/EventServiceApi/obj
