################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventServiceApi/.vs
/EventServiceApi/EventServiceApi/obj
/EventServiceApi/EventServiceApi/bin/Debug/net10.0
